/ConceptosBasicos/nbproject/private/
/ConceptosBasicos/build/
/ReutilizacionDeCodigo/nbproject/private/
/ReutilizacionDeCodigo/build/
/TAREA UML/nbproject/private/
/TAREA UML/build/
/TAREA UML/dist/
/ReutilizacionDeCodigo/dist/
/Java basico/nbproject/private/
/Java basico/build/
/CuentaHabiente/nbproject/private/
/CuentaHabiente/CuentaHabiente/nbproject/private/
/CuentaHabiente/CuentaHabiente/build/
/CuentaHabiente/CuentaHabiente/dist/
/CuentaHabiente/Java basico/nbproject/private/
/JavaBasico2210parte2/nbproject/private/
/Interfacesusuario2210/nbproject/private/
/Interfacesusuario2210/build/
